.base {
    background-color: red;
    width: 1000px;
    height:1000px;
    padding:50px;
    border: 5px solid rebeccapurple;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: auto; 
    column-gap: 5px;
    row-gap: 5px;
    justify-content: center;
    align-content: center;
}

.grid {
    background-color: green;
    width: 60px;
    height: 60px;
    display: grid;
    justify-self: center;
    align-self: center;
}

