.base {
    background-color: red;
    width: 1000px;
    height:1000px;
    padding:50px;
    border: 5px solid rebeccapurple;
    margin: 10px;
}

.grid {
    background-color: green;
    width: 100px;
    height: 100px;
}