.outerBox {
    display: flex;
    justify-content: center;
}



.base {
    background-color: red;
    width: 1000px;
    height:1000px;
    padding:50px;
    border: 5px solid rebeccapurple;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
    /* column-gap: 5px;
    row-gap: 5px; */
    /* justify-content: center; */
    /* align-content: center; */
}

.grid {
    background-color: white;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    display: grid;
    justify-self: center;
    /* align-self: center; */
}


.box {
    display: flex;
    justify-content: center;

}
.button {
    padding: 10px;
    font-size:50px;
    border: 2px solid;
}